<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diswares.breakupledger.backend.mapper.LedgerMapper">

    <resultMap id="BaseResultMap" type="com.diswares.breakupledger.backend.po.ledger.Ledger">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="OTHER"/>
            <result property="ownerId" column="owner_id" jdbcType="BIGINT"/>
            <result property="leaderId" column="leader_id" jdbcType="BIGINT"/>
            <result property="canMemberCommit" column="can_member_commit" jdbcType="BOOLEAN"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,type,
        owner_id,leader_id,can_member_commit,
        update_time,create_time
    </sql>
</mapper>
